@import 'reset.css';

/* components */
@import 'components/card.css';
@import 'components/button.css';

/* screens */
@import 'screens/choose.css';
@import 'screens/main.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Black Han Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: rgb(122, 112, 126) 1px 0 10px;
  text-align: center;
  background: rgb(215, 228, 255);
  background: linear-gradient(
    137deg,
    rgba(215, 228, 255, 1) 0%,
    rgb(241, 207, 231) 100%
  );
}

.go {
  margin: 20px;
}

.horizontal__flex {
  display: flex;
  flex-direction: row;
}

.vertical__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
