table.calendar
            thead.calendar__head
                tr
                    td
                        button#prev
                            i.fas.fa-arrow-left
                    th(colspan="5").calendar__head-title
                    td
                        button#next
                            i.fas.fa-arrow-right
            tbody.calendar__body
                tr
                    td 일
                    td 월
                    td 화
                    td 수
                    td 목
                    td 금
                    td 토