include ../mixins/textBlock
include ../mixins/patternBlock

.viewer--window
            button.fas.fa-chevron-left.fa-2x#js-prevPageBtn.viewer--button
            button.fas.fa-chevron-right.fa-2x#js-nextPageBtn.viewer--button
            .viewer--wrap
                .viewer__content--memo
                    form#js-memoForm
                        span 메모 :
                        input(type="text")
                    ul#js-memoList
                        each content, index in contents
                                +textBlock({
                                    content,
                                    index
                                })                  
                .viewer__content--pattern
                    p.pattern--title 패턴
                    ul#js-patternList
                        each pattern in patterns
                                +patternBlock({
                                    name:pattern.name
                                })
                    p.far.fa-plus-square.fa-2x#pattern--add-Btn
                .viewer__content--todo
                    form#js-toDoForm
                        span 기억할 것 : 
                        input(type="text")
                    ul#js-toDoList