.choose-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

p {
  font-size: 50px;
  margin: 30px;
}

@media screen and (max-width: 768px) {
  .description {
    margin: 200px 30px;
  }
}
