.main-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-screen__div1 {
  width: 100%;
  height: 30%;
}

.main-screen__div2 {
  width: 100%;
  height: 30%;
}

.main-screen__div3 {
  width: 100%;
  height: 30%;
}
