extends layouts/main

block content
    .home
        table.calendar
            thead.calendar__head
                tr
                    td
                        button#prev
                            i.fas.fa-arrow-left
                    th(colspan="5").calendar__head-title
                    td
                        button#next
                            i.fas.fa-arrow-right
            tbody.calendar__body
                tr
                    td 일
                    td 월
                    td 화
                    td 수
                    td 목
                    td 금
                    td 토
        
        
        .viewer--window
            button.fas.fa-chevron-left.fa-2x#js-prevPageBtn.viewer--button
            button.fas.fa-chevron-right.fa-2x#js-nextPageBtn.viewer--button
            .viewer--wrap
                .viewer__content--todo
                    form.js-toDoForm
                        span 할 일 : 
                        input(type="text")
                    ul.js-toDoList
                .viewer__content--memo
                    form.js-memoForm
                        span 메모 :
                        input(type="text")
                    ul.js-memoList
                .viewer__content--pattern
                    p.pattern--title 패턴
                    ul#js-patternList
                    p.far.fa-plus-square.fa-2x#pattern--add-Btn