extends layouts/main

block content
    .login
        .login__title
            p 로그인
            p  또는
            p 회원가입
        .login__google
            p Google
        .login__kakao
            p Kakao
        .login__naver
            p Naver