mixin patternBlock(patternObj= {})
    li 
        .pattern-card
            p=patternObj.name
            div
                button.far.fa-smile-beam
                button.far.fa-meh
                button.far.fa-tired