mixin patternBlock(patternObj= {})
    li 
        .pattern-card
            p=patternObj.name
            div
                button(id=`${patternObj.index},good`).far.fa-smile-beam
                button(id=`${patternObj.index},avg`).far.fa-meh
                button(id=`${patternObj.index},bad`).far.fa-tired