.choose-screen__card {
  width: 350px;
  height: 170px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #d1dfeeea,
    2px 5px 16px 0px #c9dcf3f1, 3px 2px 10px 3px rgba(0, 0, 0, 0);
  box-shadow: inset -1px 3px 8px 5px #f0e1ffea, 2px 5px 16px 0px #ddd4fae5,
    3px 2px 10px 3px rgba(0, 0, 0, 0);
  border: 6px solid rgb(237, 236, 241);
  border-radius: 5%;
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cardSleep {
  background-color: rgba(184, 183, 238, 0.966);
}

.cardFull {
  background-color: rgba(216, 183, 238, 0.966);
}

.cardStudy {
  background-color: rgba(238, 183, 238, 0.966);
}

.cardDiet {
  background-color: rgba(238, 183, 215, 0.966);
}

.cardThree {
  background-color: rgba(238, 183, 201, 0.966);
}

.cardDepressed {
  background-color: rgba(238, 183, 183, 0.966);
}

.choose-screen__card > p {
  margin: 20px;
  font-size: 50px;
  width: 180px;
}

.description {
  margin: 30px;
  font-size: 40px;
}

.line {
  width: 3px;
  height: 80px;
  background-color: rgb(241, 241, 241);
}

.choose-screen__card > button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 50px;
}

.choose-screen__card > button > i {
  color: rgb(88, 88, 88);
  text-shadow: rgb(126, 123, 112) 1px 0 5px;
  margin: 10px;
}

.choose-screen__card > button > i.changeColor {
  color: rgb(189, 142, 211);
}

.main-screen__card {
  width: 280px;
  height: 200px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #d1dfeeea,
    2px 5px 16px 0px #c9dcf3f1, 3px 2px 10px 3px rgba(0, 0, 0, 0);
  box-shadow: inset -1px 3px 8px 5px #f0e1ffea, 2px 5px 16px 0px #ddd4fae5,
    3px 2px 10px 3px rgba(0, 0, 0, 0);
  border: 6px solid rgb(237, 236, 241);
  border-radius: 5%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button__style > i.changeColor {
  color: rgb(189, 142, 211);
}

@media screen and (max-width: 768px) {
  .choose-screen__card {
    width: 280px;
    height: 100px;
    border: 5px solid whitesmoke;
  }

  .choose-screen__card > p {
    margin: 20px;
    font-size: 40px;
    width: 140px;
  }

  .line {
    width: 3px;
    height: 60px;
    background-color: rgb(241, 241, 241);
  }
}

@media screen and (min-width: 769px) {
  .choose-screen__card > button > i:hover {
    color: rgb(189, 142, 211);
    transition: all 300ms ease-in;
  }
}
